{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><h2>Car List</h2></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap"
                       cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Price</th>
                        <th>Top Speed</th>
                        <th>Engine Size</th>
                        <th>Fuel</th>
                        <th>No of Doors</th>
                        <th>No of Wheels</th>
                        <th>Torque of Engine</th>
                        <th>Convertable</th>
                        <th>Edit</th>
                        <th>Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for car in cars %}
                        <tr>
                            <th scope="row">1</th>
                            <td>{{ car.brand }}</td>
                            <td>{{ car.model }}</td>
                            <td>{{ car.price }}</td>
                            <td>{{ car.topSpeed }}</td>
                            <td>{{ car.engine }}</td>
                            <td>{{ car.fuel }}</td>
                            <td>{{ car.doors }}</td>
                            <td>{{ car.wheels }}</td>
                            <td>{{ car.torque }}</td>
                            <td>{{ car.convertable }}</td>
                            <th><a href="{{ url('product_edit',{id:car.id}) }}" class="btn btn-success">Edit</a> </th>
                            <th><a href="{{ url('product_remove',{id:car.id}) }}" class="btn btn-danger">Remove</a> </th>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}