{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Edit Car <small>edit car details</small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    {{ form_start(form,{'attr':{'class':'form-horizontal form-label-left'}}) }}
                    <div class="form-group">
                        {{ form_label(form.brand,null,{'label_attr':{'class':'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.brand,{'attr':{'class':'form-control col-md-7 col-xs-12'}}) }}
                            {{ form_errors(form.brand) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.model,null,{'label_attr':{'class':'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.model,{'attr':{'class':'form-control col-md-7 col-xs-12'}}) }}
                            {{ form_errors(form.model) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.price,null,{'label_attr':{'class':'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.price,{'attr':{'class':'form-control col-md-7 col-xs-12'}}) }}
                            {{ form_errors(form.price) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.topSpeed,null,{'label_attr':{'class':'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.topSpeed,{'attr':{'class':'form-control col-md-7 col-xs-12'}}) }}
                            {{ form_errors(form.topSpeed) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.doors,null,{'label_attr':{'class':'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.doors,{'attr':{'class':'form-control col-md-7 col-xs-12'}}) }}
                            {{ form_errors(form.doors) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.wheels,null,{'label_attr':{'class':'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.wheels,{'attr':{'class':'form-control col-md-7 col-xs-12'}}) }}
                            {{ form_errors(form.wheels) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.fuel,null,{'label_attr':{'class':'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.fuel,{'attr':{'class':'form-control col-md-7 col-xs-12'}}) }}
                            {{ form_errors(form.fuel) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.engine,null,{'label_attr':{'class':'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.engine,{'attr':{'class':'form-control col-md-7 col-xs-12'}}) }}
                            {{ form_errors(form.engine) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.torque,null,{'label_attr':{'class':'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.torque,{'attr':{'class':'form-control col-md-7 col-xs-12'}}) }}
                            {{ form_errors(form.torque) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.convertable,null,{'label_attr':{'class':'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.convertable,{'attr':{'class':'form-control col-md-7 col-xs-12'}}) }}
                            {{ form_errors(form.convertable) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_widget(form.save,{'attr':{'class':'btn btn-success' }}) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}