<!DOCTYPE HTML>
<html lang="en">

<!-- Mirrored from themes.webmasterdriver.net/carforyou/demo/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 08 Apr 2018 05:28:32 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>CarForYou - Responsive Car Dealer HTML5 Template</title>
    <!--Bootstrap -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" type="text/css">
    <!--Custome Style -->
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" type="text/css">
    <!--OWL Carousel slider-->
    <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/owl.transitions.css') }}" type="text/css">
    <!--slick-slider -->
    <link href="{{ asset('assets/css/slick.css') }}" rel="stylesheet">
    <!--bootstrap-slider -->
    <link href="{{ asset('assets/css/bootstrap-slider.min.css') }}" rel="stylesheet">
    <!--FontAwesome Font Style -->
    <link href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    {#<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>#}
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <!-- SWITCHER -->
    <link rel="stylesheet" id="switcher-css" type="text/css" href="{{ asset('assets/switcher/css/switcher.css') }}" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="{{ asset('assets/switcher/css/red.css') }}" title="red" media="all" data-default-color="true" />
    <link rel="alternate stylesheet" type="text/css" href="{{ asset('assets/switcher/css/orange.css') }}" title="orange" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="{{ asset('assets/switcher/css/blue.css') }}" title="blue" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="{{ asset('assets/switcher/css/pink.css') }}" title="pink" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="{{ asset('assets/switcher/css/green.css') }}" title="green" media="all" />
    <link rel="alternate stylesheet" type="text/css" href="{{ asset('assets/switcher/css/purple.css') }}" title="purple" media="all" />

    <!-- Google-Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- Filter-Form -->
<section id="filter_form" class="gray-bg">
    <div class="container">
        <h3>Find Your Dream Car <span>(Easy search from here)</span></h3>
            <form method="get">
                <div class="row">
                <div class="form-group col-md-3 col-sm-6 black_input">
                    <label for="brand">Fuel MPG</label>
                    <input type="number" class="form-control" id="fuel" name="fuel" value="{{ fuel }}">
                </div>

                    <div class="form-group col-md-6 col-sm-6 black_input">
                        <label for="wheels" class="form-label">Wheels</label>
                        {% if wheels | length == 2 %}
                            <input name="wheels" id="wheels" type="text" class="span2" value="" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="[{{ wheels[0] }},{{ wheels[1] }}]"/>
                        {% else %}
                            <input name="wheels" id="wheels" type="text" class="span2" value="" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="[0,20]"/>
                        {% endif %}
                    </div>

                <div class="form-group col-md-3 col-sm-6 black_input">
                    <label for="model">No of doors</label>
                    <input type="number" class="form-control" id="doors" name="doors" value="{{ doors }}" min="1" max="64">
                </div>
                </div>

                <div class="row">

                <div class="form-group col-md-6 col-sm-6 black_input">
                    <label for="price_range" class="form-label">Price Range ($)</label>
                    {% if price | length == 2 %}
                        <input name="price" id="price_range" type="text" class="span2" value="" data-slider-min="0" data-slider-max="6000" data-slider-step="5" data-slider-value="[{{ price[0] }},{{ price[1] }}]"/>
                    {% else %}
                        <input name="price" id="price_range" type="text" class="span2" value="" data-slider-min="0" data-slider-max="6000" data-slider-step="5" data-slider-value="[0,5000]"/>
                    {% endif %}
                </div>
                <div class="form-group col-md-6 col-sm-6 black_input">
                    <label for="speed_range" class="form-label">Speed Range Km/H</label>
                    {% if speed | length == 2 %}
                        <input name="speed" id="speed_range" type="text" class="span2" value="" data-slider-min="0" data-slider-max="6000" data-slider-step="5" data-slider-value="[{{ speed[0] }},{{ speed[1] }}]"/>
                    {% else %}
                        <input name="speed" id="speed_range" type="text" class="span2" value="" data-slider-min="0" data-slider-max="6000" data-slider-step="5" data-slider-value="[0,5000]"/>
                    {% endif %}
                </div>

                </div>




                <div class="form-group">
                    <input type="checkbox" class="checkbox" {% if convertable == "on" %}checked{% endif %} name="convertable" > Convertable
                </div>

                <div class="row">
                <div class="form-group col-md-3 col-sm-6 pull-right">
                    <button type="submit" class="btn btn-block"><i class="fa fa-search" aria-hidden="true"></i> Search Car </button>
                </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="listing-page">
    <div class="container">
        <div class="row">
            <div id="graph" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
    </div>
</section>

<section class="listing-page">
    <div class="container">
        <div class="row">
            <div id="container" style="min-width: 310px;max-width: 800px;height: 400px;margin: 0 auto"></div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <table id="myTable">
            <thead>
                <th>Name</th>
                <th>Price</th>
                <th>Fuel Consumption</th>
                <th>Top Speed</th>
                <th>Doors</th>
                <th>Engine</th>
                <th>Torque</th>
                <th>Convertable</th>
            </thead>
            <tbody>
                {% for car in cars %}
                    <tr>
                        <td>{{ car.brand }} {{ car.model }}</td>
                        <td>${{ car.price |number_format(2, '.', ',') }}</td>
                        <td>{{ car.fuel }} MPG</td>
                        <td>{{ car.topSpeed }} Km/H</td>
                        <td>{{ car.doors }} doors</td>
                        <td>{{ car.engine }} cc</td>
                        <td>{{ car.torque}} Nm</td>
                        <td>{% if(car.convertable == 1) %} Yes {% else %} No {% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    var carDetails = new Array();

    {% for car in cars %}
        var dataSet = new Array();
        var name = '{{ car.brand }}' +' '+ '{{ car.model }}';
        var data = [{{ car.fuel }}, {{ car.wheels}}, {{ car.price }}, {{ car.topSpeed }}, {{ car.doors }}];
        dataSet['name'] = name;
        dataSet['data'] = data;
        carDetails.push(dataSet);
    {% endfor %}

    Highcharts.chart('container', {

        title: {
            text: 'Car Comparison Graph'
        },

        subtitle: {
            text: 'Source: thesolarfoundation.com'
        },

        yAxis: {
            title: {
                text: 'Value'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        xAxis: {
            categories: ['Fuel', 'Wheels', 'Price', 'Speed', 'Doors']
        },
        series:carDetails,

        // series: [{
        //     name: 'Installation',
        //     data: [43934, 52503, 57177, 69658, 97031]
        // }, {
        //     name: 'Manufacturing',
        //     data: [24916, 24064, 29742, 29851, 32490]
        // }, {
        //     name: 'Sales & Distribution',
        //     data: [11744, 17722, 16005, 19771, 20185]
        // }, {
        //     name: 'Project Development',
        //     data: [null, null, 7988, 12169, 15112]
        // }, {
        //     name: 'Other',
        //     data: [12908, 5948, 8105, 11248, 8989]
        // }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });
</script>

<script>
    Highcharts.chart('graph', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Car Compare'
        },
        xAxis: {
            categories: [
                {% for car in cars %}
                    '{{ car.brand }} {{ car.model }}',
                {% endfor %}
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Unit'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Price',
            data: [{% for car in cars %}{{ car.price }},{% endfor %}]

        }, {
            name: 'Top Speed',
            data: [{% for car in cars %}{{ car.topSpeed }},{% endfor %}]

        }, {
            name: 'Doors',
            data: [{% for car in cars %}{{ car.doors }},{% endfor %}]

        }, {
            name: 'Engine',
            data: [{% for car in cars %}{{ car.engine }},{% endfor %}]

        }]
    });
</script>
<!-- Scripts -->
<script src="{{ asset('assets/js/jquery.min.js') }}"></script>

<script>
    $(document).ready( function () {
        $('#myTable').DataTable();
    } );
</script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<script src="{{ asset('https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/interface.js') }}"></script>
<!--Switcher-->
<script src="{{ asset('assets/switcher/js/switcher.js') }}"></script>
<!--bootstrap-slider-JS-->
<script src="{{ asset('assets/js/bootstrap-slider.min.js') }}"></script>
<!--Slider-JS-->
<script src="{{ asset('assets/js/slick.min.js') }}"></script>
<script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>

</body>

<!-- Mirrored from themes.webmasterdriver.net/carforyou/demo/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 08 Apr 2018 05:29:47 GMT -->
</html>